.display-post {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(290px, 400px));
    grid-gap: 20px;
    justify-content: start;
    align-items: stretch;
}