
.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/login-bg.jpeg");
    background-size: cover;
    background-position: center;
}

.login-page > .login-form {
    background-color: var(--login--content-bg-color);
    padding: 60px;
    border-radius: 15px;
    box-shadow: 4px 4px 20px 1px;
    position: relative;
}
.login-page p {
    margin: 0;
}

.login-page > .login-form > * {
    margin-bottom: 20px;
}

.login-page > .login-form .title {
    text-align: center;
    font-weight: 600;
    font-size: var(--header-fs);
    margin: 50px;
}

.login-page div > * {
    margin-bottom: 10px;
}

.login-page div > .label { 
    font-size: calc(var(--label-fs) + 0.3rem);
    font-weight: 500;
}

.login-page div > input {
    width: 100%;
    font-size: var(--label-fs);
}

.login-page .sign-up-link {
    text-decoration: underline;
}

.login-page .sign-up-link:hover {
    cursor: pointer;
    color: blue;
}

.login-page .go-back {
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    /* background-color: black; */
}

.login-page .go-back .return-icon {
    font-size: calc(var(--label-fs) + 1rem);
    margin-bottom: 0;
    padding: 10px;
    padding-left: 20px;
}

.login-page .login-button {
    border-radius: 10px;
    font-size: calc(var(--label-fs) + 0.3rem);
    transition: transform 0.5s ease;
}
.login-page .login-button:hover {
    background-color: azure;
    cursor: pointer;
    transform: translateY(-5px);
}

.login-form .failed-message {
    color: red;
}

.login-form .sucessful-message {
    color: green
}