.display-post {
    display: grid;
    height: max-content;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    justify-content: start;
    align-items: stretch;
}

.not-logged-in-favourites {
    margin: 400px auto;
    text-align: center;
    max-width: 45ch;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    color: black;
}

.empty-favourites {
    margin: 400px auto;
    text-align: center;
    max-width: 45ch;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    color: black;
}